extends includes/layout.pug
block title
    title Help - NetsBlox
block content
  mixin box(title, url, buttonCaption)
    .col-md-4.col-sm-6.text-center
      .box.card
        h2.tag-title= title
        block
        br
        if buttonCaption
          a.btn.btn-block.btn-primary(href=url)= buttonCaption
  .container
    .row
      h2.text-center Learn more about NetsBlox
      .row
        +box('How To\'s', env.EDITOR_ADDRESS + "/docs/fundamentals/concepts.html", 'More')
          p Guides and tutorials to help you understand and use NetsBlox.
          .text-left
            ul
              li
                a(href=env.EDITOR_ADDRESS + '/docs/fundamentals/concepts.html#rooms') Rooms
              li
                a(href=env.EDITOR_ADDRESS + '/docs/fundamentals/concepts.html#messages') Messages
              li
                a(href=env.EDITOR_ADDRESS + '/docs/fundamentals/concepts.html#services-rpcs') Services (RPCs)
              li
                a(href=env.EDITOR_ADDRESS + '/docs/fundamentals/howto.html#managing-rooms') Managing rooms
              li
                a(href=env.EDITOR_ADDRESS + '/docs/fundamentals/howto.html#sending-and-receiving-messages') Sending and receiving messages
              li
                a(href=env.EDITOR_ADDRESS + '/docs/fundamentals/howto.html#using-services-remote-procedure-calls') Using Services (RPCs)
              li
                a(href='/mobile') Access on small screen devices
              li
                a(href=env.EDITOR_ADDRESS + '/docs/fundamentals/howto.html#playing-multiplayer-games') Playing multiplayer games

        +box('Documentation', env.EDITOR_ADDRESS + "/docs/", 'Read More')
          p Check out the comprehensive documentation for NetsBlox including walkthroughs, documentation for all RPCs, custom deployment, and more!

        +box('Videos','/tutorials','View')
          p Check out walkthroughs and featured demos of Netsblox here.
          ul.text-left
            li #[a(href='https://www.youtube.com/watch?v=Iq86M0boVLg') Introduction to NetsBlox] (5 min)
            li #[a(href='https://www.youtube.com/watch?v=UtcMZVPvnUs') Teaching Cybersecurity with Networked Robots] (3 min)
            li #[a(href='https://www.youtube.com/watch?v=KnCF3VJ0cHA') RoboScape Online Demo] (5 min)
            li #[a(href='https://www.youtube.com/watch?v=CpWH_FiyXDc') PhoneIoT Demo] (10 min)
            li #[a(href='https://www.youtube.com/watch?v=NRIUUiJMCmI') Running Dog Demo] (4 min)
            li #[a(href='https://www.youtube.com/watch?v=QGsJ4OjWCBU') Eclipse Temperature Tracking] (5 min)
            li #[a(href='https://www.youtube.com/watch?v=Or4zIiDn0m0') PhoneIoT Overview] (8 min)
            li #[a(href='https://www.youtube.com/watch?v=CLd-OK00vgc') NetsBlox: Bringing the Full Power of the Internet to Snap!] (1 hr)
            li #[a(href='https://www.youtube.com/watch?v=SN_DZANWJ0E') Exploring Climate Change with Programming Projects] (30 min)
            li #[a(href='https://www.youtube.com/watch?v=7LH3aeHYlSg') Build Your Own Service] (1 hr)
        +box('Documents', '#','')
          ul.text-left
            li
              a(href='/documents/IEEE_VLHCC_NetsBlox_Camera_Ready.pdf') Removing the Walls Around Visual Educational Programming Environments
            li
              a(href='/documents/NetsBlox_JPDC.pdf') A Visual Programming Environment for Introducing Distributed Computing to Secondary Education
            li
              a(href='/documents/RoboScape_Online_VLHCC_2021.pdf') Enabling Collaborative Distance Robotics Education for Novice Programmers
            li
              a(href='/documents/PhoneIoT-your-phone-as-a-sensor.pdf') Your Phone as a Sensor: Making IoT Accessible for Novice Programmers
            li
              a(href='/documents/3287324.3287450.pdf') Teaching Cybersecurity with Networked Robots
            li
              a(href='/documents/Ledeczi-ITEST-PI-Mtg.pdf') Broadening Participation in Computing
            li
              p CSTA19: (#[a(href='/documents/CSTA-2019-Session.pptx') Session] | #[a(href='/documents/CSTA-2019-Workshop.pptx') Workshop])
            hr
            li
              a(href='https://snap.berkeley.edu/snap/help/SnapManual.pdf') Snap! Manual
            li
              a(href='/documents/NetsBloxFlyer.pdf') Flyer
        +box('For Educators', '#','')
          p Find NetsBlox lesson plans here in this section.
          ul.text-left
            li
              a(href="/lessons/NetsBlox Lesson Map and Weather.pdf") Map and Weather
            li
              a(href="/lessons/NetsBlox Lesson Plotting.pdf") Intro to Plotting
            li
              a(href="/lessons/NetsBlox Lesson Ice Core.pdf") Plotting Climate Change data
            li
              a(href="/lessons/NetsBlox Lesson COVID-19.pdf") Plotting COVID-19 data
            li
              a(href="/lessons/NetsBlox Lesson Lists and Movies.pdf") Movies
            li
              a(href="/lessons/NetsBlox Lesson Texting.pdf") Texting app
            li
              a(href="/lessons/NetsBlox Lesson Chat.pdf") Chatroom app
            li
              a(href="/lessons/NetsBlox Lesson Multi-Player Games.pdf") Multi-player game
          p Also check out our #[a(href = '/curriculum') more advanced curriculum!]
        +box('Sample Projects','/','')
          ul.text-left
            li
              a(href="https://editor.netsblox.org/?action=present&Username=ledeczi&ProjectName=QuickQuake&#") Quick Quake
            li
              a(href="https://editor.netsblox.org/?action=example&ProjectName=StreetViewMap") StreetView Map
            li
              a(href="https://editor.netsblox.org/?action=example&ProjectName=CastShow") Cast Show
            li
              a(href="https://editor.netsblox.org/?action=present&Username=ledeczi&ProjectName=EclipseViz") Eclipse Viz
            li
              a(href="https://editor.netsblox.org/?action=present&Username=ledeczi&ProjectName=FlyLikeCrows") Fly Like Crows
            li
              a(href="https://editor.netsblox.org/?action=present&Username=ledeczi&ProjectName=QuakeHistogram") Quake Histogram
            li
              a(href="https://editor.netsblox.org/?action=example&ProjectName=Weather&editMode=true") Weather
            li
              a(href="https://editor.netsblox.org/?action=example&ProjectName=Star%20Map&editMode=true") Star Map
            li
              a(href="https://editor.netsblox.org/?action=example&ProjectName=Earthquakes&editMode=true") Earthquake
            li
              span(class="label label-info" title="Multiplayer") M
              a(href="https://editor.netsblox.org/?action=present&Username=ledeczi&ProjectName=SemiPongX")  Semi Pong&nbsp
            li
              span(class="label label-info" title="Multiplayer") M
              a(href="https://editor.netsblox.org/?action=example&ProjectName=Battleship&editMode=true")  Battleship&nbsp
            li
              span(class="label label-info" title="Multiplayer") M
              a(href="https://editor.netsblox.org/?action=present&Username=ledeczi&ProjectName=SharedWhiteboardx")  Shared Whiteboard
            li
              span(class="label label-info" title="Multiplayer") M
              a(href="https://editor.netsblox.org/?action=present&Username=ledeczi&ProjectName=21%20Pebbles")  21 Pebbles
